:root {
  --primary-color: #f05123;
  --blog-primary-color: #ec5a31;
  --secondary-color: #00438b;
  --yellow-color: #faff6c;
  --light-primary-color: #cfa671b2;
  --white-color: #fff;
  --shadow-color: #7f89a19a;
  --black-color: #000;
  --text-color: #333;
  --gray-color: #cccbcb;
  --light-blue-color: #498fe64a;
  --red-color: #f00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.5rem;
}

body {
  background: var(--white-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}
